* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul, ol, li {
    list-style: none;
}

/* Fim do reset */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: #1e1e1e;
}
header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}
.photo {
    text-align: center;
    font-size: 60px;
}
.menu ul, li {
    display: flex;
    gap: 5vh;
    font-size: 32px;
    text-align: center;
}
button {
    width: 25vh;
    height: 60px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    color: black;
    background-color: #eafb41;
    text-align: center;
    font-size: 20px;
}

/* Main */
#es{
    width: 25vh;
    height: 60px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    color: black;
    background-color: #eafb41;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
main {
    flex-grow: 2;
    display: flex;
    color: #ffff;
}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
}
.titulo h2{
    font-size: 20px;
    color: #eafb41;
    
    
    
}
.titulo p{
    font-size: 60px;
    width: 35%;
    font-family: 'Times New Roman', Times, serif;
}

.arrow {
    position: absolute;
    top: 63.4%;
    left: 15%;
 }
 .arrow1 {
     position: absolute;
     top: 64%;
     left: 15.4%;
 }

 /* Footer */




