* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul, ol, li {
    list-style: none;
}

/* Fim do reset */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: #1e1e1e;
}
header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}
.photo {
    text-align: center;
    font-size: 60px;
}
.menu ul, li {
    display: flex;
    gap: 5vh;
    font-size: 32px;
    text-align: center;
}
button {
    width: 25vh;
    height: 60px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    color: black;
    background-color: #eafb41;
    text-align: center;
    font-size: 20px;
}

/* Main */
#es{
    width: 25vh;
    height: 60px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    color: black;
    background-color: #eafb41;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
main {
    flex-grow: 2;
    display: flex;
    color: #ffff;
}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.titulo h2{
    font-size: 20px;    
}

.titulo p{
    font-size: 60px;
    width: 35%;
    font-family: 'Times New Roman', Times, serif;
}

.arrow {
    position: absolute;
    top: 63.4%;
    left: 15%;
 }
 .arrow1 {
     position: absolute;
     top: 64%;
     left: 15.4%;
 }
 .card{
    position: absolute;
    max-width: 100vh;
    top: 5%;
    left: 40%;
 }
 .selo {
    position: absolute;
    max-width: 100vh;
    left: 80%;
    top: 13%;
    
 }

 /* Footer */

 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; 
    color: #fff; 
    height: 200px;

}
  
  
.texto {
    display: flex;
    align-items: center; 
    background-color: #333333; 
    padding: 20px;
    border-radius: 1px; 
    color: white; 
    font-size: 30px; 
    height: 200px ;
    width: 23%;

}
  
.logos {
    display: flex;
    justify-content: center;
    gap: 40px; 
    padding: 0 20px; 
    width: 70%;
    align-items: center;
}
  
.logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 200px;
    height: 100px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nasa {
    background-image: url('./nasa.png'); 
}
.spotify {    
    background-image: url('./spotify1.png'); 
}
.microsoft {
    background-image: url('./microsoft.png');
}
.facebook {
    background-image: url('./facebook.png');
}
.seta {
    position: absolute;
    left: 23%;
}



